<div class="bg-dark-primary py-4 px-8">
  <div class="flex justify-items-center justify-between">
    <p class="self-center text-light-primary text-center text-lg">{{orderItem.name}}</p>
    <div class="flex justify-between space-x-2 m-0">
      <p class="self-center text-light-primary text-center text-lg mr-3">
        <span class="font-semibold">Price:</span>
        € {{orderItem.price}}
        <span class="font-semibold">Amount:</span>
        {{orderItem.quantity}}
      </p>
    </div>
  </div>
</div>
