<app-modal #modalComponent>
  <h1 class="text-2xl font-semibold mb-3">Add Item</h1>
  <form [formGroup]="addItemForm" (ngSubmit)="handleButton()">
    <div>
      <label
        class="block mt-2 text-md font-semibold text-gray-600"
        for="name"
      >Name</label>

      <input
        class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
        id="name"
        type="text"
        [(ngModel)]="name"
        formControlName="name"
        autocomplete="off"
        placeholder="Product name"
        required>
    </div>

    <div>
      <label
        class="block mt-2 text-md font-semibold text-gray-600"
        for="price"
      >Price</label>

      <input
        class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
        id="price"
        type="number"
        [(ngModel)]="price"
        formControlName="price"
        autocomplete="off"
        placeholder="Product price"
        required>
    </div>

    <div>
      <label
        class="block mt-2 text-md font-semibold text-gray-600"
        for="stock"
      >Stock</label>

      <input
        class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
        id="stock"
        type="number"
        [(ngModel)]="stock"
        formControlName="stock"
        autocomplete="off"
        placeholder="Product stock"
        required>
    </div>

    <div class="py-3 flex justify-between">
      <button
        (click)="close()"
        type="button"
        class=" px-4 py-2 bg-error       text-light-primary font-bold rounded-md shadow-lg hover:ring-dark-secondary hover:ring-offset-2 hover:ring-2"
      >Close</button>

      <button
        type="submit"
        class="py-2 px-4 bg-dark-primary text-light-primary font-bold rounded-md shadow-lg hover:ring-dark-secondary hover:ring-offset-2 hover:ring-2"
        [disabled]="addItemForm.invalid"
      >Ok</button>
    </div>
  </form>
</app-modal>
